body {
  font-family: "Varela Round", sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  display: inline-block;
}
h1 {
  font-size: 30px;
  margin-top: 0px;
  padding-right: 15px;
  padding-top: 15px;
}
form {
  align-content: center;
  float: right;
  padding-top: 20px;
  margin-right: 10px;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-weight: 200;
  font-size: 18px;
}

li:first-letter {
  text-transform: capitalize;
}

select {
  margin: 10px 0 0 10px;
}

.block {
  border-radius: 5%;
  box-shadow: 5px 6px 6px 2px #a6b8c9;
  height: 95%;
  padding-top: 15%;
  padding-bottom: 10%;
}

.weather {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 5%;
  margin: 2% 20% 15% 20%;
  padding: 2% 2% 2% 2%;
}
.weather-temperature {
  margin-left: -29px;
}

.weather-description {
  margin-right: -349px;
  margin-top: -59px;
}
.ddbutton {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0% 33%;
  padding: 50px 30px 10px 1px;
  text-align: center;
  white-space: nowrap;
}

.future {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 170px;
  margin-bottom: 17px;
}

.git {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.temp {
  font-weight: 12px;
  margin-left: -30px;
}
.temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  color: rgb(5, 124, 252);
  text-decoration: none;
}
