body {
  font-family: "Varela Round", sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}
button {
  display: inline-block;
}
h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 15px 0 5px 0;
  padding: 0;
}
h2 {
  color: rgb(33, 33, 33);
  font-size: 35px;
  font-weight: 100;
  line-height: 28px;
  padding: 0;
}

form {
}
li {
  color: rgb(135, 135, 135);
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  padding: 0;
  margin: 0, 5px;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  padding: 0;
  margin: 0;
}
select {
  margin: 10px 0 0 10px;
}

.weather {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: rgb(239, 247, 247) 1px solid;
  border-radius: 5%;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}
.weather-temperature {
  margin-top: 20px;
  margin-bottom: -45px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-top: -14px;
  height: 64px;
  width: 64px;
}
.weather-temperature .units {
  font-size: 35px;
  margin-top: 5px;
}
.weather-description {
  margin: 0 75px;
  padding: 0;
}

.git {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.temp {
  font-weight: 12px;
  margin: 0 0 -50px 80px;
  padding: 0;
}
.temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  color: rgb(5, 124, 252);
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
  opacity: 0.5;
}
