body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 5%;
  margin: 2% 20% 15% 20%;
  padding: 0% 2% 10% 2%;
  font-family: "Varela Round", sans-serif;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #5fcfe8;
}
button {
  display: inline-block;
}
h1 {
  font-size: 30px;
  margin-top: 22px;
  padding-right: 15px;
  padding-top: 15px;
}
form {
  align-content: center;
  margin: 13px 10px 25px;
  padding-bottom: 15px;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-weight: 150;
}

li:first-letter {
  text-transform: capitalize;
}

select {
  margin: 10px 0 0 10px;
}

.block {
  border-radius: 5%;
  box-shadow: 5px 6px 6px 2px #a6b8c9;
  height: 95%;
  padding-top: 15%;
  padding-bottom: 10%;
}

.weather-temperature {
  margin-left: -29px;
}
.weather-description {
  margin-right: -299px;
  margin-top: -55px;
}
.ddbutton {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0% 33%;
  padding: 50px 30px 10px 1px;
  text-align: center;
  white-space: nowrap;
}

.future {
  border-radius: 1%;
  border: thin;
  border-color: black;
}
.git {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.temp {
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
}
